# =========================
# IDE Files
# =========================
.idea/
.vscode/
*.iml

# =========================
# Java / Spring Boot
# =========================
**/target/
*.class
*.jar
*.war
git checkout utkarsh-dev

# Work on backend

git add .

git commit -m "Completed Department Module"

git push
# Maven
**/.settings/
**/.classpath
**/.project

# =========================
# Node / React / Vite
# =========================
**/node_modules/
**/dist/
**/.vite/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Operating System
# =========================
Thumbs.db
.DS_Store

# =========================
# Temporary Files
# =========================
*.tmp
*.swp